// Переменные

$form-background-gradient: linear-gradient(167.96deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
$form-border-color: rgba(255, 255, 255, 0.473);

.button{
  position: relative;
  background: $gradientcolor;

  font-family: $font-Mariupol-Medium;
  font-size: 16px;
  line-height: 15px;

  color: $whitecolor!important;

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.17);
  border-radius: 15px;

  padding: 13px 24px;

  overflow: hidden;

  text-align: center;

  text-overflow: ellipsis;

  z-index: 0;

  &:hover{
    &::before{
      opacity: 1;
    }
  }

  &::before{
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradientcolor-hover;
    transition: opacity 0.3s ease;
    z-index: -10;
  }
  
  &.login{
    max-width: 170px;
  }

  &.exchange{
    width: 100%;
    padding: 13px 0px;
  }

  &.see-all{
    max-width: 250px;
    padding: 13px 54px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    z-index: 0;

    @media (max-width: $mobileMedium + px) {
      padding: 13px 35px;
    }
  }

  &__link{
    color: $whitecolor;
  }
}

.button__create{
  position: relative;

  font-family: $font-Mariupol-Medium;
  font-size: 16px;
  line-height: 15px;

  -webkit-text-fill-color: transparent;

  background: $gradientcolor;
  -webkit-background-clip: text;

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.17);
  border-radius: 15px;

  padding: 13px 24px;

  z-index: 10;

  overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 15px; 
      padding: 2px;
      background: $gradientcolor; 
      -webkit-mask: 
         linear-gradient(#fff 0 0) content-box, 
         linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
              mask-composite: exclude; 
    }
}

.gradient{
  width: fit-content;
  -webkit-text-fill-color: transparent;

  background: $gradientcolor;
  -webkit-background-clip: text;
}

.form__input{
  background: $form-background-gradient;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);

  border-radius: 15px;

  border: 1px solid $form-border-color;

  padding: 8px;

  &:not(:last-child){
    margin-bottom: 20px;
  }
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}

.title{
  width: fit-content;
  font-family: $font-Mariupol-Bold;
  @include adaptiv-value('font-size', 48, 32, 1);
  @include adaptiv-value('line-height', 52, 36, 1);

  -webkit-text-fill-color: transparent;

  background: $gradientcolor;
  -webkit-background-clip: text;

  margin-top: 0;
  margin-bottom: 24px;
}

.title-bold-32{
  font-family: $font-Mariupol-Bold;
  @include adaptiv-value('font-size', 32, 24, 1);
  line-height: 31px;

  color: $textcolor;
}

.title-bold-28{
  font-family: $font-Mariupol-Bold;
  @include adaptiv-value('font-size', 28, 22, 1);
  line-height: 27px;

  color: $textcolor;
}

.title-medium-22{
  font-family: $font-Mariupol-Medium;
  @include adaptiv-value('font-size', 22, 18, 1);
  line-height: 21px;

  color: $textcolor;
}

.title-medium-18{
  font-family: $font-Mariupol-Medium;
  @include adaptiv-value('font-size', 18, 14, 1);
  line-height: 17px;

  color: $textcolor;
}

.title-medium-16{
  font-family: $font-Mariupol-Medium;
  @include adaptiv-value('font-size', 16, 14, 1);
  line-height: 15px;

  color: $textcolor;
}

.title-medium-14{
  font-family: $font-Mariupol-Medium;
  @include adaptiv-value('font-size', 14, 12, 1);
  line-height: 13px;

  color: $textcolor;
}

.title-medium-12{
  font-family: $font-Mariupol-Medium;
  @include adaptiv-value('font-size', 12, 10, 1);
  line-height: 12px;

  color: $textcolor;
}

.title-medium-10{
  font-family: $font-Mariupol-Medium;
  @include adaptiv-value('font-size', 10, 8, 1);
  line-height: 10px;

  color: $textcolor;
}

.text-regular-18{
  @include adaptiv-value('font-size', 18, 16, 1);
  line-height: 17px;

  color: $textcolor;
}

.text-regular-16{
  @include adaptiv-value('font-size', 16, 14, 1);
  line-height: 15px;

  color: $textcolor;
}

.text-regular-14{
  @include adaptiv-value('font-size', 14, 12, 1);
  line-height: 13px;

  color: $textcolor;
}

.text-regular-12{
  @include adaptiv-value('font-size', 12, 10, 1);
  line-height: 12px;

  color: $textcolor;
}

.text-regular-10{
  @include adaptiv-value('font-size', 10, 8, 1);
  line-height: 10px;

  color: $textcolor;
}

.mbottom{
  @include adaptiv-value('margin-bottom', 200, 90, 1);
}